:root {
    --caribeanCurrent: #16697A;
    /*TITULOS*/
    --moonStone: #489FB5;
    /*SUBTITULOS*/
    --skyBlue: #82C0CC;
    /*veremo*/
    --isabelline: #EDE7E3;
    /*BACKGROUND*/
    --orangePill: #FFA62B;
    /*BOTONES*/
}
